.pnr_card_block {margin-bottom:40px; } 

.pnr_row {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 71px;
    position: relative;
    text-align: left;
    width: 100%;
    font: normal normal normal normal 13px/15.6000003814697px arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    padding: 16px 0;
}/*#DIV_1*/

.pnr_input {
    border: 1px solid #ddd;
    color: rgb(34, 34, 34);
    height: 38px;
    width: 50%;
    font: normal normal normal normal 18px/19px arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 30px 0px 11px;
}/*#INPUT_2*/

.pnr_input:hover {
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;
-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.pnr_input:focus {
border: 1px solid #4d90fe;
-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
outline: none;
}

.act-rmd-datetime-label {
padding-bottom: 5px;
font-size: 14px;
}

.cwbbc-c {
display: inline-block;
width: 40%;
height:100%;
}

.cwbtpl {
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
cursor: pointer;
display: table;
font-size: 18px;
font-family: Roboto-Regular,helvetica,arial,sans-serif;
padding: 0;
position: relative;
text-align: center;
width: 94%;
margin-left: 20px;
padding: 10px 0;
margin-top: 15px;
}

.cwbb-tpl {
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4d90fe,EndColorStr=#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-color: #4d90fe;
background-image: linear-gradient(top,#4d90fe,#4787ed);
border: 1px solid #3079ed;
color: #fefefe;
}
 

.cwbd:hover .cwbb-tpl {
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4d90fe,EndColorStr=#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-color: #4d90fe;
background-image: linear-gradient(top,#4d90fe,#357ae8);
border: 1px solid #2f5bb7;
color: #fefefe;
}


.pnr-result-block {
	padding-top:20px;	
	display:none;
}

.loading_span {
	text-align:center;
	line-height: 1.5;	
}
.loading_span span {
	color:#A4A4A4;	
}
.loading_span img {
margin-bottom: -4px;
margin-right:5px;
}

.pnr_cur_status {
text-align:center;
padding-bottom:20px;
margin-bottom:8px;
border-bottom:1px solid #eee;
}

.curr_stat_single {
	display:inline-block;	
	margin: 5px 10px;
	padding:0 10px;
	border-left:1px solid #eee;
}

.curr_stat_single:first-child, .curr_stat_single:nth-child(2n-1) {
	border-left:none;
}



.curr_stat_single h1 {
color: #222;
font-size: 32px;
margin-top: 10px;
}
.curr_stat_single p {
color: #878787;
font-size: 16px;
margin:10px 0;
}

.charting-status {
	text-align:center;
	line-height: 1.5;	
	font-size:15px;
	border-bottom:1px solid #eee;
	padding-bottom:8px;
}

.boarding-from {
	text-align:center;
	line-height: 1.5;	
	font-size:15px;
	padding-top:8px;
}

.other-stuff {
	padding-top:20px;	
}

.other-item-single {
	display:inline-block;	
	padding:10px;
	border-left:1px solid #eee;
	width:45%;
	text-align:center;
	border-bottom:1px solid #eee;
}

.other-item-single:first-child, .other-item-single:nth-child(2n-1) {
	border-left:none;
}

.other-item-single h2 {
color: #222;
font-size: 16px;
margin: 8px 0;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
}
.other-item-single p {
color: #878787;
font-size: 14px;
margin:7px 0;
}


